// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$body-font-family: 'Graphik', sans-serif !default;
$font-family: 'Graphik', sans-serif !default;
$charcoal-grey: #4a4a4c;
$base-font-size: 14px;
$primary: #00b2e5;
$accent: #00234b;


body, html 
.v-application {

    font-family: $body-font-family !important;
    font-size: $base-font-size;


    h1, .text-h1,
    h2, .text-h2,
    h3, .text-h3,
    h4, .text-h4,
    h5, .text-h5,
    h6, .text-h6,
    
    .display-4,
    .display-3,
    .display-2,
    .display-1,
    .headline,
    .title,
    .subtitle-2
    {
        font-family: $body-font-family !important;
        font-weight: bold;
    }
    
    .body-1,
    .body-2,
    .caption,
    .overline
    {
        font-family: $body-font-family !important;
    }
}

.v-ripple__container {
    opacity: 0 !important;
 }

 .v-list-group__header.v-list-item--active:not(:hover):not(:focus):before {
    display: none;
 }

 .theme--light.v-list-item--active:hover::before, .theme--light.v-list-item--active::before {
    display: none;
 }